@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="layoutController">

</div>
<div class="jumbotron">
    <img src="~/Content/Images/classroom.jpg" id="jumboImgId" width="100%" height="70%"/>
</div>


@section scripts
    {
     
    
    
    }
